body{
    margin: 0;
    background-color:#e6e0be;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header img {
    width: 150px;
}

.header input {
    border: none;
    padding: 8px;
    border-radius: 20px;
    background-color: #f0e7e7;
    opacity: 0.9;
    width: 250px;
}

.header input:focus {
    outline: none;
}

.fixed-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 50px;
    cursor: pointer;
}

.fixed-button button {
    border: none;
    background-color: #c84747;
    color: #fff;
    border-radius: 999px;
    padding: 30px;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    opacity: 0.8;
    cursor: pointer;
}

.fixed-button button:hover {
    opacity: 1;
    box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.3);
}

#show-pokemons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.poke-card-design {
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 20px;
    width: 300px;
    padding: 10px;
    margin: 5px;
    background-image: url(img/pokeball_1.svg);
    background-size: cover;
    color: #fff;
    opacity: 80%;
}

.poke-card-design img {
    width: 150px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

#show-detail-view{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#detail-content {
    background-color: aliceblue;
    border-radius: 25px;
    width: 500px;
}

#detail-poke-view {
    padding: 12px;
    background-image: url(img/pokeball_1.svg);
    background-size: cover;
}

.center-img {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.center-img img {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: -60px;
}

#dnone-button {
    pointer-events: auto;
}

.d-none {
    display: none;
}

.closeDetailView {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    width: 40px;
    text-align: center;
    border-radius: 999px;
    margin-top: 12px;
    margin-left: 12px;
}

.closeDetailView:hover {
    background-color: #dcdcdc;
}

.highlighted-text {
    padding: 5px 10px;
    background-color: #9a9494;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    opacity: 0.5;
    color: black;
    width: fit-content;
}

#detail-poke-infos {
    background-color: #fff;
    padding: 12px;
    padding-top: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: -40px;
    height: 350px;
}

#detail-poke-nav {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
}

#detail-poke-nav a {
    text-decoration: none;
    color: rgb(36, 34, 34);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

#detail-poke-nav a:hover {
    color: rgb(62, 54, 54);
}

.stats-content {
    color: black;
}

.arrow-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-div {
    padding: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 20px;
    cursor: pointer;
    color: black;
    font-weight: 500;
    font-size: 20px;
    width: fit-content;
}

.arrow-div:hover {
    background-color: #f8f2f2;
}

.stats-content {
    margin-bottom: 8px;
}

#progress-hp {
    height: 8px;
}

#progress-attack {
    height: 8px;
}

#progress-defense {
    height: 8px;
}

#progress-sp-attack {
    height: 8px;
}

#progress-sp-defense {
    height: 8px;
}

#progress-speed {
    height: 8px;
}

@media(max-width: 950px) {
    #detail-content {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
    }

    #detail-poke-infos {
        height: 100vh;
    }
}

@media(max-width: 720px) {

    #show-pokemons {
        padding-left: 8px;
        padding-right: 8px;
    }

    .poke-card-design {
        width: 100%;
    }
}
